<form #form="ngForm" (ngSubmit)="onclick(cust);" autocomplete="off" >

   
    <div class="form-group">
        
        <input name="CustomerName"   [(ngModel)]="cust.CustomerName" class="form-control"  placeholder="Enter Your Name" required>
           
    </div>
    <div class="form-group">
        <input name="CustomerNum"  [(ngModel)]="cust.CustomerNum" class="form-control" placeholder="Enter Your Mobile Number" required>

    </div>
    <div class="form-group">
        <input name="CustomerEmail"  [(ngModel)]="cust.CustomerEmail" class="form-control" placeholder="Enter Your Email ID" required>

    </div>
    <div class="form-group">
        <input name="CustomerPinCode"  [(ngModel)]="cust.CustomerPinCode" class="form-control" placeholder="Enter Your Pincode" required>

    </div>
    <div class="form-group">
        <input id="demo" name="CustomerAddress"  [(ngModel)]="cust.CustomerAddress" class="form-control" placeholder="Enter Your Address Details" required>

    </div>
    <div class="form-group">
        <button class="btn btn-success btn-lg btn-block"  (click)="condition=true"  type="submit">Submit</button>
    </div>

<hr>
<hr>
<div *ngIf="condition">
    Customer Name: <label>{{cust.CustomerName}}</label> <hr>
    Customer Mobile-Number: <label>{{cust.CustomerNum}}</label> <hr>
    Customer Email-Id: <label>{{cust.CustomerEmail}}</label> <hr>
    Customer PinCode :  <label>{{cust.CustomerPinCode}}</label> <hr>
    Customer Address Details : <label>{{cust.CustomerAddress}}</label> <hr>
</div>

</form>
 
